html {
  font-size: 62.5%;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #c0dbd9;
}

* {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.container {
  padding: 0 1.5rem;
  margin: 0 auto;
}

.header {
  background-color: #7faff6;
  padding: 3.05rem 3rem;
  margin-bottom: 1.5rem;
}
.modal__btn {
  font-size: 2rem;
  padding: 0.8rem 1.5rem;
  border-radius: 0.5rem;
  color: #ffffff;
  background: #a5c7f9;
  text-decoration: none;
}

#modal__open {
  display: flex;
  flex-direction: column;
  align-items: end;
  font-size: 5.3rem;
  color: #000;
  display: none;
  padding: 4rem 2rem;
  background: #e5e5e5;
  position: absolute;
}
#modal__open:target {
  display: flex;
}

.close {
  display: flex;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  width: 3rem;
  justify-content: center;
  align-items: center;
  background: #7faff6;
  border-radius: 0.5rem;
}

/* .header__btn {
  font-size: 2rem;
  line-height: 2.3rem;
  color: #fff;

  border: none;
  border-radius: 0.5rem;
  padding: 0.8rem 1.5rem;
  background: #a5c7f9;
} */

.green-block {
  display: grid;
  gap: 1.5rem;
  place-items: center;
  grid-template-columns: 1fr 2fr 19rem;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "a b c"
    "d d e";
  background: #b3f95a;
  counter-reset: blockNum;
  justify-items: stretch;
  margin-bottom: 1.5rem;
}

.green-block__element {
  display: flex;
  justify-content: center;
  background: #8ad191;
  font-size: 5.3rem;
  line-height: 6.2rem;
  color: #ffffff;
  counter-increment: blockNum;
  padding: 6.8rem;
}

.green-block__element:after {
  content: counter(blockNum);
}

.blockBig {
  grid-area: d;
}

.blue-block {
  display: grid;
  padding: 3rem;
  gap: 3rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  place-items: center;
  background-color: #88b5bf;
}

.blue-block__element {
  background: #0d89b0;
  width: 100%;
  padding-top: 100%;
}

.footer {
  margin-top: 10rem;
  height: 10rem;
  background: #7faff7;
}
